<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Experius::experius_file_manager" module="Experius_FileManager" parent="Magento_Backend::content" sortOrder="9999" title="File Manager" resource="Magento_Backend::content"/>
		<add action="filemanager/wysiwyg_images/index" id="Experius::experius_file_manager_files" module="Experius_FileManager" parent="Experius::experius_file_manager" resource="Magento_Backend::content" sortOrder="9999" title="Files"/>
	</menu>
</config>